<mat-toolbar class="mat-primary">
  <span>Viaxlab Challenge</span>
</mat-toolbar>

<span class="subtitle-bar">
  Itinerario Bariloche 2022
  <button
    mat-raised-button
    class="subtitle-bar-button mat-primary"
    (click)="openAddActivityDialog()"
  >
    Add Activity
  </button>
</span>

<div cdkDropListGroup class="dragDropContainer">
  <div class="example-container mat-primary">
    <h2 title="SARASA">Sin fecha asignada</h2>

    <div
      cdkDropList
      [cdkDropListData]="Todo"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of Todo" cdkDrag>
        {{ item.title }}
        <div class="button-box">
          <button mat-icon-button (click)="openEditActivityDialog(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="handleDelete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>En proceso</h2>
    <div
      cdkDropList
      [cdkDropListData]="InProgress"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of InProgress" cdkDrag>
        {{ item.title }}
        <div class="button-box">
          <button mat-icon-button (click)="openEditActivityDialog(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="handleDelete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Realizadas</h2>

    <div
      cdkDropList
      [cdkDropListData]="Done"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box" *ngFor="let item of Done" cdkDrag>
        {{ item.title }}
        <div class="button-box">
          <button mat-icon-button (click)="openEditActivityDialog(item)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="handleDelete(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
